<%= form_with(model: relative, local: true, class: 'ui form') do |form| %>
  <% if relative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(relative.errors.count, "error") %> prohibited this relative from being saved:</h2>

      <ul>
      <% relative.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui divider"></div>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="row">
    <%= link_to relatives_path, class: 'button' do%>
        <i>VOLTAR</i> 
        </div>
     <% end %>
<% end %>



