<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @state.country %>
</p>

<p>
  <strong>Name:</strong>
  <%= @state.name %>
</p>

<%= link_to 'Editar', edit_state_path(@state) %> |
<%= link_to 'Voltar', states_path %>
