<p id="notice"><%= notice %></p>

<h1>Historics</h1>

<table class='ui celled table'>
  <thead>
    <tr>
      <th>Description</th>
      <th>Text</th>
      <th>Disapeared</th>
      <th>Date</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @historics.each do |historic| %>
      <tr>
        <td><%= historic.description %></td>
        <td><%= historic.text %></td>
        <td><%= historic.disapeared %></td>
        <td><%= historic.date %></td>
        <td><%= historic.status %></td>
        <td><%= link_to 'Visualizar', historic %></td>
        <td><%= link_to 'Editar', edit_historic_path(historic) %></td>
        <td><%= link_to 'Excluir', historic, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Historic', new_historic_path %>
