<p id="notice"><%= notice %></p>

<h1>Districts</h1>

<table class='ui celled table'>
  <thead>
    <tr>
      <th>City</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @districts.each do |district| %>
      <tr>
        <td><%= district.city %></td>
        <td><%= district.name %></td>
        <td><%= link_to 'Visualizar', district %></td>
        <td><%= link_to 'Editar', edit_district_path(district) %></td>
        <td><%= link_to 'Excluir', district, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo District', new_district_path %>
