<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @district.city %>
</p>

<p>
  <strong>Name:</strong>
  <%= @district.name %>
</p>

<%= link_to 'Editar', edit_district_path(@district) %> |
<%= link_to 'Voltar', districts_path %>
