<p id="notice"><%= notice %></p>

<h1>Cities</h1>

<table class='ui celled table'>
  <thead>
    <tr>
      <th>State</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.state %></td>
        <td><%= city.name %></td>
        <td><%= link_to 'Visualizar', city %></td>
        <td><%= link_to 'Editar', edit_city_path(city) %></td>
        <td><%= link_to 'Excluir', city, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo City', new_city_path %>
