<!DOCTYPE html>
<html>
<head>
  <title>Desaparecidos</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_include_tag "//semantic-ui.com/javascript/library/detect.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//semantic-ui.com/javascript/library/jquery.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//semantic-ui.com/javascript/library/clipboard.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//semantic-ui.com/javascript/library/cookie.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//semantic-ui.com/javascript/library/easing.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//semantic-ui.com/javascript/library/highlight.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//semantic-ui.com/javascript/library/history.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//semantic-ui.com/javascript/library/underscore.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//semantic-ui.com/javascript/library/tablesort.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//semantic-ui.com/dist/semantic.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//semantic-ui.com/javascript/docs.js", 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_link_tag "//semantic-ui.com/dist/semantic.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//semantic-ui.com/stylesheets/docs.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//semantic-ui.com/stylesheets/rtl.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>

<body>
<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="/apresentacoes" class="header item">
      <img class="logo" src="https://semantic-ui.com/examples/assets/images/logo.png">
      Desaparecidos
    </a>
    <div class="ui simple dropdown item right floated">
        <i class="cog icon"></i>
      <div class="menu">

        <div class="header">Configurar</div>
        <a class="item" href="/usuarios/edit">Editar perfil</a>
      </div>
    </div>
  </div>
</div>
<div class="ui main container">
  <%= yield %>
</div>
</body>

<%= javascript_include_tag "//code.jquery.com/jquery-3.1.1.min.js", 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js", 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application' %>

</html>

