<!DOCTYPE html>
<html>
<head>
  <title>Desaparecidos</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/accordion.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/api.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/checkbox.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/dimmer.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/dropdown.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/embed.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/form.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/modal.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/nag.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/popup.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/progress.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/rating.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/reveal.min.css", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/search.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/shape.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/sidebar.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/site.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/step.min.css", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/sticky.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/tab.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/transition.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/video.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/visibility.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js", 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/accordion.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/ad.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/breadcrumb.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/button.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/card.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/checkbox.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/comment.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/container.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/dimmer.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/divider.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/dropdown.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/embed.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/feed.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/flag.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/form.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/grid.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/header.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/icon.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/image.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/input.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/item.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/label.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/list.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/loader.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/menu.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/message.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/modal.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/nag.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/popup.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/progress.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/rail.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/rating.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/reset.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/search.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/segment.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/shape.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/sidebar.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/site.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/statistic.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/sticky.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/tab.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/table.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/transition.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/video.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>

<body>
<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="/apresentacoes" class="header item">
      <img class="logo" src="https://semantic-ui.com/examples/assets/images/logo.png">
      Desaparecidos
    </a>
    <div class="ui simple dropdown item right floated">
        <i class="cog icon"></i>
      <div class="menu">

        <div class="header">Configurar</div>
        <a class="item" href="/usuarios/edit">Editar perfil</a>
      </div>
    </div>
  </div>
</div>
<div class="ui main container">
  <%= yield %>
</div>
</body>

<%= javascript_include_tag "//code.jquery.com/jquery-3.1.1.min.js", 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js", 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application' %>

</html>

